---
layout: page
title: 'HOME'
subtitle: 블로그 설명
sitemap:
  priority: 0.9
---

<ul class="list-posts">
    {% for post in site.posts %}
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title">{{ post.title }}</span>
                <span class="post-teaser__date">{{ post.date | date: "%Y-%m-%d" }}</span>
                <span class="post-teaser__shorts">{{ post.excerpt | strip_html | strip_newlines }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
