<!DOCTYPE html>
<html lang="ko">
    {% include head.html %}

    <body>
        <div class="wrapper">
            {% include header.html %}

            {{ content }}
        </div>
    </body>
</html>